@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
:root {
	--primary: #232838;
	--secondary: #5ecb8c;
	--tertiary: #ae5ecb;
	--button-gradient: #6456d1;

	--primary-button-font-size: 2.5vw;
	--secondary-button-font-size: 2.5vw;

	--mobile-hero-title-fs: 10vw;
	--mobile-hero-sub-title-fs: 3.5vw;

	--desktop-hero-title-fs: 4vw;
	--desktop-hero-sub-title: 1.2vw;
}

img,
svg {
	max-width: 100%;
	display: block;
}

/*         Phone CSS         */

@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
		color: white;
		font-family: poppins;
		background-color: var(--primary);

		section {
			margin: 10rem 2.5rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-image: linear-gradient(
				to right,
				var(--tertiary),
				var(--button-gradient)
			);
			border: none;
			outline: none;
			color: white;
			font-weight: bold;
			border-radius: 0.5em;
			font-size: 2.8vw;
			cursor: pointer;
			padding: 0.7rem 1.4rem;
			margin: auto;
		}

		.secondary-button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			color: var(--tertiary);
			background: none;
			border: 1px solid var(--tertiary);
			outline: none;

			border-radius: 0.5em;
			font-size: var(--primary-button-font-size);
			cursor: pointer;
			padding: 0.7rem 1.4rem;
			margin: auto;
		}

		header {
			position: sticky;
			top: 0;
			display: flex;
			place-content: space-between;
			padding: 2rem;
			background-color: var(--primary);
			z-index: 999;

			#logo {
				max-width: 6rem;
			}
			.hamburger {
				width: 10%;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 50%;
				height: 100vh;
				background-color: #1b1f2b;
				padding: 2.5rem;
				transform: translateX(110%);
				transition: 0.2s ease;
				box-shadow: 1px 0px 10px #222636 inset;

				#mobile-exit {
					float: right;
					width: 8%;
				}

				ul {
					text-align: right;
					margin-top: 3rem;
					a {
						color: white;
						font-weight: bold;
						display: block;
						text-decoration: none;
						padding-block: 1rem;
					}

					#mobile-nav-buttons {
						padding: 0;
					}
				}

				.trio-icons {
					display: none;
				}
			}
			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}

			#wallet-desktop-menu {
				position: fixed;
				overflow: hidden;
				right: 0;
				top: 0;
				width: 50%;
				height: 100vh;
				background-color: #1b1f2b;
				padding: 2.6rem;
				transform: translateX(110%);
				transition: 0.2s ease;
				box-shadow: 1px 0px 10px #222636 inset;

				body {
					position: fixed;
				}

				.pop-up-title-exit-flex {
					display: flex;
					place-content: space-between;
					align-items: center;

					.pop-up-title {
						font-weight: bold;
					}

					img {
						width: 8%;
						height: 8%;
						transform: scale(1);
						transition: 0.3s ease;
					}
					img:hover {
						transform: scale(1.1);
						transition: 0.2s ease;
					}
				}

				.pop-up-sub {
					margin-top: 3rem;
					font-size: 3.2vw;
				}

				ul {
					display: flex;
					flex-direction: column;

					padding: 0;
					margin: 2rem 0;

					a {
						text-decoration: none;
						color: white;
						font-size: 3vw;
					}

					.logo-name-flex {
						display: flex;
						align-items: center;
						border: 0.1px solid rgb(50, 50, 50);
						padding: 0.8rem;

						background-color: #171a24;
					}

					#rev-box {
						border-radius: 0 0 0.6rem 0.6rem;
					}

					#rev-logo {
						width: 7%;
					}

					#meta-box {
						border-radius: 0.6rem 0.6rem 0 0;
					}

					img {
						width: 10%;
						margin-right: 2rem;
					}
				}
			}
			#wallet-desktop-menu[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}
		.hero {
			.left-hero {
				margin: 6rem 2rem;
				#title {
					font-size: var(--mobile-hero-title-fs);
					font-weight: 700;
					margin-bottom: 2rem;
				}
				#sub-text {
					font-size: var(--mobile-hero-sub-title-fs);
				}

				button {
					background-image: linear-gradient(
						to right,
						var(--secondary),
						#6fac8d
					);
					margin-block: 2rem;
				}

				#secondary-link {
					text-align: center;
					a {
						color: white;
						font-size: 3vw;
					}
				}
			}
			.right-hero {
				#mountain-svg {
					display: none;
				}

				.right-col-facts-flex {
					margin: 4rem auto;

					.tree-facts {
						display: flex;
						align-items: center;
						margin-bottom: 2rem;
						font-size: 3.5vw;
						font-weight: bold;
						width: 60%;
						margin-inline: auto;

						img {
							width: 20%;
							padding-right: 1rem;
						}
					}

					.turbine-facts {
						display: flex;
						align-items: center;
						font-size: 3.5vw;
						font-weight: bold;
						width: 60%;
						margin-inline: auto;

						img {
							width: 20%;
							padding-right: 1rem;
						}
					}
				}
			}
		}

		#impact-adv {
			#section-title {
				font-size: 6.5vw;
				font-weight: bold;
				margin-bottom: 3rem;

				span {
					color: var(--secondary);
				}
			}
			#section-sub-title {
				font-size: 3.5vw;
				margin-bottom: 3vw;
			}

			.flex-box-impact-cards {
				//display: flex;
				//flex-direction: column-reverse;

				.left-adv {
					.seeds-desktop-box {
						width: 75%;
						background-color: #bd9ba4;
						border-radius: 1rem;

						margin-block: 2rem;
						padding: 2rem 2rem 0 2rem;

						#seeds-box-title {
							font-size: 4.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}

						#seeds-box-subtitle {
							font-size: 2.8vw;
							margin-bottom: 3rem;
						}

						#seeds-ipad,
						#seeds-mobile {
							display: none;
						}

						#seeds-desktop {
							width: 80%;
							margin-inline: auto;
						}
					}

					.start-impact {
						display: none;
					}
				}

				.right-adv {
					.welcome-desktop-box {
						background-color: #eabd2a;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;
						margin-block: 2rem;

						#welcome-box-title {
							font-size: 4.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#welcome-box-subtitle {
							font-size: 2.8vw;
							margin-bottom: 3rem;
						}

						#welcome-ipad,
						#welcome-mobile {
							display: none;
						}

						#welcome-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}

					.twitter-desktop-box {
						background-color: #85d196;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;

						#twitter-box-title {
							font-size: 4.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#twitter-box-subtitle {
							font-size: 2.8vw;
							margin-bottom: 3rem;
						}

						#twitter-ipad,
						#twitter-mobile {
							display: none;
						}

						#twitter-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}
				}
			}
		}
		.start-impact {
			margin-block: 5rem;
			text-align: center;
			.start-title {
				font-size: 6.5vw;
				font-weight: bold;

				span {
					color: var(--secondary);
				}
			}

			button {
				background-image: linear-gradient(to right, var(--secondary), #6fac8d);
				margin: 2rem auto;
			}

			.start-secondary-link {
				a {
					color: white;
					font-size: 3vw;
				}
			}
		}
	}
}

@media only screen and (max-width: 999px) and (min-width: 601px) {
	body {
		margin: 4rem;
		background-color: var(--primary);
		font-family: poppins;
		color: white;

		section {
			margin: 12rem 2rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-image: linear-gradient(
				to right,
				var(--tertiary),
				var(--button-gradient)
			);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
		}

		.secondary-button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			color: var(--tertiary);
			background: none;
			border: 1px solid var(--tertiary);
			outline: none;

			border-radius: 0.5em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
		}

		header {
			display: flex;
			place-content: space-between;
			align-items: center;

			#mobile-cta {
				display: none;
			}

			#mobile-exit {
				display: none;
			}

			#logo {
				width: 50%;
			}
			#desktop-nav {
				display: flex;
				place-content: space-between;
				align-items: center;

				a {
					text-decoration: none;
					font-weight: bold;
					font-size: 1.3vw;
					color: white;
					margin-left: 1rem;
				}

				#mobile-nav-buttons {
					display: none;
				}

				.trio-icons {
					display: flex;

					img {
						max-width: 70%;
						min-width: 65%;
					}
				}
			}
		}

		.hero {
			.flex-box-hero {
				display: flex;

				.left-hero {
					margin-block: 6rem;
					#title {
						font-size: var(--desktop-hero-title-fs);
						font-weight: bold;
					}

					#sub-text {
						font-size: var(--desktop-hero-sub-title);
						width: 70%;
						margin-top: 2rem;
					}

					button {
						background-image: linear-gradient(
							to right,
							var(--secondary),
							#6fac8d
						);
						margin: 4rem 0 0.5rem 0;
						font-size: 1.2vw;
					}

					#secondary-link {
						a {
							color: white;
							font-size: 0.8vw;
						}
					}
				}

				.right-hero {
					width: 70%;

					margin-block: 3rem;

					.right-col-facts-flex {
						display: flex;
						place-content: space-between;
						width: 90%;
						margin: auto;

						.tree-facts {
							display: flex;
							align-items: center;
							font-size: 1.4vw;

							img {
								width: 14%;
								margin-right: 0.5rem;
							}
						}

						.turbine-facts {
							display: flex;
							align-items: center;
							font-size: 1.4vw;

							img {
								width: 20%;
								margin-right: 0.5rem;
							}

							#sequestered {
								font-size: 0.8vw;
							}
						}
					}
				}
			}
		}
		#impact-adv {
			#section-title {
				font-size: 3vw;

				span {
					color: var(--secondary);
				}
			}

			#section-sub-title {
				font-size: 1vw;
				margin-bottom: 7vw;
			}
			.flex-box-impact-cards {
				display: flex;
				place-content: space-between;

				.left-adv {
					width: 50%;
					margin-right: 5rem;

					.seeds-desktop-box {
						width: 75%;
						background-color: #bd9ba4;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;

						#seeds-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}

						#seeds-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#seeds-ipad,
						#seeds-mobile {
							display: none;
						}

						#seeds-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}

					#start-impact {
						margin-block: 3rem;
						#start-title {
							font-size: 2vw;

							span {
								color: var(--secondary);
							}
						}

						button {
							background-image: linear-gradient(
								to right,
								var(--secondary),
								#6fac8d
							);
							margin: 2rem 0 1rem 0;
							font-size: 1.2vw;
						}

						#start-secondary-link {
							a {
								color: white;
								font-size: 0.8vw;
							}
						}
					}
				}
				.right-adv {
					width: 50%;

					.welcome-desktop-box {
						background-color: #eabd2a;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;
						margin-bottom: 6vw;

						#welcome-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#welcome-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#welcome-ipad,
						#welcome-mobile {
							display: none;
						}

						#welcome-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}

					.twitter-desktop-box {
						background-color: #85d196;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;

						#twitter-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#twitter-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#twitter-ipad,
						#twitter-mobile {
							display: none;
						}

						#twitter-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1000px) {
	body {
		margin: 4rem;
		background-color: var(--primary);
		font-family: poppins;
		color: white;

		section {
			margin: 14rem 6rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-image: linear-gradient(
				to right,
				var(--tertiary),
				var(--button-gradient)
			);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
		}

		button:hover {
			transform: scale(1.03);
			transition: 0.2s ease;
		}

		.secondary-button {
			color: var(--tertiary);
			background: none;
			border: 1px solid var(--tertiary);
		}

		header {
			display: flex;
			place-content: space-between;

			#mobile-cta {
				display: none;
			}

			#mobile-exit {
				display: none;
			}

			#logo {
				width: 50%;
			}
			#desktop-nav {
				display: flex;
				place-content: space-around;
				align-items: center;
				z-index: 2;
				ul {
					width: 100%;

					a {
						text-decoration: none;
						margin: 1.5rem;
						font-weight: bold;
						font-size: 0.9vw;
						color: white;
						padding-right: 1rem;
					}

					#mobile-nav-buttons {
						display: none;
					}
				}

				.trio-icons {
					display: flex;
					place-content: space-between;
					width: 30%;

					#wallet {
						width: 45%;
						margin-left: 1rem;
					}

					#profile:hover,
					#wallet:hover {
						transform: scale(1.05);
						transition: 0.3s ease;
					}
				}
			}
			#wallet-desktop-menu {
				z-index: 1;
				position: fixed;
				right: 0;
				top: 0;
				width: 36%;
				height: 100vh;
				background-color: #1b1f2b;

				transform: translateX(110%);
				transition: 0.2s ease;
				box-shadow: 1px 0px 10px #222636 inset;

				.wallet-pop-up-box {
					background-color: #1e2030;
					margin: 12rem 1.5rem 1.5rem 1.5rem;
					padding: 2rem;
					border-radius: 1rem;
					box-shadow: 2px 1px 10px #1b1e2a;
				}

				.pop-up-title-exit-flex {
					display: flex;
					place-content: space-between;
					align-items: center;
					.pop-up-title {
						font-weight: bold;
						font-size: 1.5vw;
					}

					img {
						width: 4%;
						height: 4%;
						transform: scale(1);
						transition: 0.3s ease;
					}
					img:hover {
						transform: scale(1.1);
						transition: 0.2s ease;
					}
				}

				.pop-up-sub {
					margin-top: 3rem;
				}

				ul {
					display: flex;
					flex-direction: column;

					padding: 0;
					margin: 2rem 0;

					a {
						text-decoration: none;
						color: white;
					}

					.logo-name-flex {
						display: flex;
						align-items: center;
						border: 0.1px solid rgb(98, 98, 98);
						padding: 1rem;
					}

					.logo-name-flex:hover {
						box-shadow: 0.5px 0.5px 5px rgb(104, 104, 104);
					}

					#rev-box {
						border-radius: 0 0 0.8rem 0.8rem;
					}

					#rev-logo {
						width: 6%;
					}

					#meta-box {
						border-radius: 0.8rem 0.8rem 0 0;
					}

					img {
						width: 7%;
						margin-right: 2rem;
					}
				}
			}

			#wallet-desktop-menu[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}
		.hero {
			.flex-box-hero {
				display: flex;

				.left-hero {
					margin-block: 6rem;
					#title {
						font-size: var(--desktop-hero-title-fs);
						font-weight: bold;
					}

					#sub-text {
						font-size: var(--desktop-hero-sub-title);
						width: 70%;
						margin-top: 2rem;
					}

					button {
						background-image: linear-gradient(
							to right,
							var(--secondary),
							#6fac8d
						);
						margin: 4rem 0 0.5rem 0;
						font-size: 1.2vw;
					}

					#secondary-link {
						a {
							color: white;
							font-size: 0.8vw;
						}
					}
				}

				.right-hero {
					width: 70%;

					margin-block: 3rem;

					.right-col-facts-flex {
						display: flex;
						place-content: space-between;
						width: 90%;
						margin: auto;

						.tree-facts {
							display: flex;
							align-items: center;
							font-size: 1.4vw;

							img {
								width: 14%;
								margin-right: 0.5rem;
							}
						}

						.turbine-facts {
							display: flex;
							align-items: center;
							font-size: 1.4vw;

							img {
								width: 20%;
								margin-right: 0.5rem;
							}

							#sequestered {
								font-size: 0.8vw;
							}
						}
					}
				}
			}
		}
		#impact-adv {
			.flex-box-impact-cards {
				display: flex;
				place-content: space-between;
				.left-adv {
					width: 50%;
					margin-right: 5rem;

					#section-title {
						font-size: 3vw;

						margin-bottom: 1rem;

						span {
							color: var(--secondary);
						}
					}

					#section-sub-title {
						font-size: 1.2vw;
						margin-bottom: 7vw;
					}

					.seeds-desktop-box {
						width: 75%;
						background-color: #bd9ba4;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;

						#seeds-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}

						#seeds-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#seeds-ipad,
						#seeds-mobile {
							display: none;
						}

						#seeds-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}

					.start-impact-right-col-mobile-reverse {
						display: flex;
					}

					.start-impact {
						margin-block: 4rem;
						.start-title {
							font-size: 2vw;

							span {
								color: var(--secondary);
							}
						}

						button {
							background-image: linear-gradient(
								to right,
								var(--secondary),
								#6fac8d
							);
							margin: 2rem 0 1rem 0;
							font-size: 1.2vw;
						}

						.start-secondary-link {
							a {
								color: white;
								font-size: 1vw;
							}
						}
					}
				}
				.right-adv {
					width: 50%;

					.welcome-desktop-box {
						background-color: #eabd2a;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;
						margin-bottom: 10vw;

						#welcome-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#welcome-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#welcome-ipad,
						#welcome-mobile {
							display: none;
						}

						#welcome-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}

					.twitter-desktop-box {
						background-color: #85d196;
						width: 75%;
						border-radius: 1rem;

						padding: 2rem 2rem 0 2rem;

						#twitter-box-title {
							font-size: 2.2vw;
							font-weight: bold;
							margin-bottom: 0.8rem;
						}
						#twitter-box-subtitle {
							font-size: 1vw;
							margin-bottom: 3rem;
						}

						#twitter-ipad,
						#twitter-mobile {
							display: none;
						}

						#twitter-desktop {
							width: 70%;
							margin-inline: auto;
						}
					}
				}
			}
			#start-impact-desktop-display {
				display: none;
			}
		}
	}
}
