/*Organise big chunks of code into classes, ie positions, colour etc*/
/*Make picture collage look nicer*/
/*Add image overlays for the tree section with quick overviews of each country*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
:root {
  --primary: #232838;
  --secondary: #5ecb8c;
  --tertiary: #ae5ecb;
  --button-gradient: #6456d1;

  --primary-button-font-size: 2.5vw;
  --secondary-button-font-size: 2.5vw;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/*         Phone CSS         */

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: poppins;
    background-color: var(--primary);

    section {
      margin: 10rem 2.5rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-image: linear-gradient(
        to right,
        var(--tertiary),
        var(--button-gradient)
      );
      border: none;
      outline: none;
      color: white;
      font-weight: bold;
      border-radius: 0.5em;
      font-size: var(--primary-button-font-size);
      cursor: pointer;
      padding: 0.7rem 1.4rem;
      margin: auto;
    }

    .secondary-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: var(--tertiary);
      background: none;
      border: 1px solid var(--tertiary);
      outline: none;

      border-radius: 0.5em;
      font-size: var(--primary-button-font-size);
      cursor: pointer;
      padding: 0.7rem 1.4rem;
      margin: auto;
    }

    header {
      position: sticky;
      top: 0;
      display: flex;
      place-content: space-between;
      padding: 2rem;
      background-color: var(--primary);
      z-index: 999;

      #logo {
        max-width: 8rem;
      }

      #desktop-nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        background-color: #212534;
        padding: 2.5rem;
        transform: translateX(110%);
        transition: 0.2s ease;
        box-shadow: 1px 0px 10px #222636 inset;

        #mobile-exit {
          float: right;
          width: 8%;
        }

        ul {
          text-align: right;
          margin-top: 3rem;
          a {
            color: white;
            display: block;
            text-decoration: none;
            padding-block: 1rem;
          }

          #mobile-nav-buttons {
            padding: 0;
          }
        }

        .trio-icons {
          display: none;
        }
      }
      #desktop-nav[data-visible="true"] {
        display: block;
        transform: translateX(0%);
        transition: 0.2s ease-out;
      }
    }

    .hero {
      margin-inline: 2rem;
      .left-col {
        padding: 8rem 0;

        #title {
          font-size: 8vw;
          font-weight: 700;
          padding-bottom: 2rem;
          span {
            color: var(--secondary);
          }
        }
        #subhead {
          font-size: 3vw;
        }
      }

      .hero-buttons {
        display: flex;
        place-content: space-evenly;
        margin: 5rem 1rem;
        .explore-image-text {
          display: flex;
          justify-content: center;

          img {
            padding-inline: 0.3rem;
            width: 0.9rem;
          }
          span {
            padding-inline: 0.3rem;
            font-size: 2.1vw;
          }
        }
        .learnmore {
          font-size: var(--primary-button-font-size);
          display: flex;
          justify-content: center;

          .learn-inside {
            display: flex;

            img {
              width: 0.9rem;
              padding-inline: 0.3rem;
            }
          }
        }
      }

      .right-col {
        text-align: center;
        padding-top: 2.5rem;
        margin: 1rem;

        #nft-mobile {
          margin: auto;
          margin-block: 0 1rem;
          width: 95%;
        }

        #nft-desktop {
          display: none;
        }
        .glass-bar {
          margin: 0 3rem;

          .name {
            font-size: 5vw;
            font-weight: 700;
            padding-bottom: 0.5rem;
          }

          .sub-name {
            font-size: 2.5vw;
          }

          .bidding-ends {
            display: none;
          }
          .countdown {
            display: flex;
            place-content: space-around;
            margin: 1.5rem 0;

            .number {
              font-weight: bold;
              font-size: 4vw;
            }
            .time-name {
              font-size: 2.5vw;
              margin-block: 0.5rem;
            }
          }

          .eth-price {
            display: flex;
            justify-content: center;
            padding: 2rem 0;

            #eth-symbol {
              width: 12%;
            }
            #price {
              font-size: 3.5vw;
              margin-inline: 1rem 0;
            }
          }
          #bottom-bid {
            display: none;
          }

          #place-bid {
            margin: 3rem auto;

            #shopping-icon {
              width: 18%;
              margin-right: 0.8rem;
            }

            span {
              font-weight: bold;
              font-size: 2.5vw;
            }
          }
        }
      }
    }

    #wallet-sponsors {
      width: 80%;
      margin: auto;
    }

    #nft-carousel-one {
      text-align: center;

      .nft-multicolour-showcase {
        #yellow-nft,
        #blue-nft {
          display: none;
        }

        img {
          width: 85%;
          margin: auto;
        }
      }

      .title {
        font-size: 4vw;
        margin-bottom: 2rem;
      }

      .sub-title {
        font-size: 3vw;
        color: var(--tertiary);
      }

      .nft {
        position: relative;

        .nft-overlay {
          position: absolute;
          width: 100%;
          bottom: 10%;
          z-index: 1;

          .nft-name {
            font-size: 3.5vw;
            margin-block: 1rem;
          }

          button {
            background: white;
            color: black;
            font-size: 2.5vw;
            font-weight: bold;
          }
        }
      }
    }

    .trending {
      text-align: center;
      font-size: 4vw;
      margin-bottom: 1.5rem;

      span {
        color: var(--tertiary);
      }
    }

    #nft-carousel-two {
      #nft-card-2,
      #nft-card-3 {
        display: none;
      }

      .nft-card {
        background-color: rgba(34, 33, 33, 0.175);
        border: 0.4px white solid;
        border-radius: 0.6rem;

        .nft-card-center {
          margin: 1.3rem 1rem 0.5rem 1rem;
          #nft-carousel-1 {
            margin: auto;
          }

          .nft-card-text {
            display: flex;
            place-content: space-between;
            padding-block: 1rem;

            .nft-name,
            .price {
              font-weight: bold;
              margin-bottom: 0.5rem;
            }

            .owner {
              font-size: 2vw;
            }

            .right-text {
              text-align: right;

              button {
                padding: 0.6rem 1rem;

                img {
                  margin-right: 0.3rem;
                  width: 23%;
                }
              }
            }
          }
        }

        .bottom-section {
          display: flex;
          place-content: space-between;
          margin-block: 2rem 1rem;

          .history {
            display: flex;
            place-content: space-around;
            align-items: center;
            width: 30%;

            #view-history {
              font-size: 2.5vw;
              padding-left: 0.1em;
            }
          }
        }
      }
    }
  }

  #tree-plant {
    #question {
      font-size: 6vw;
      font-family: poppins;

      span {
        color: var(--secondary);
      }
    }

    #subtext {
      font-size: 3vw;
    }

    #learn-more-button {
      background-image: linear-gradient(to right, var(--secondary), #6fac8d);
      margin: 4rem auto;
    }

    img {
      display: none;
    }
  }

  .email-signup {
    text-align: center;
    margin-inline: 2rem;

    #title {
      font: 6vw bold;
      margin-bottom: 2rem;
      font-family: poppins;
    }

    #sub-head {
      font-size: 3vw;
      margin-bottom: 2rem;
      font-family: poppins;
    }

    #email {
      background-color: none;
      width: 90%;
      padding: 0.5rem;
    }

    input[type="email"] {
      border: 2px solid var(--tertiary);
      background-color: var(--primary);
      margin-block: 2rem;
    }
  }

  footer {
    background-color: #171a24;
    margin-top: 8rem;
    padding: 2rem;
    .footer-name {
      font-size: 4vw;
      padding-bottom: 4rem;
    }

    div {
      .left-footer {
        width: 50%;

        .footer-links {
          display: none;
        }
        .paragraph {
          display: none;
        }
      }

      .right-footer {
        ul {
          padding: 1rem 0rem;
          margin: 0 0 2rem 0;
        }
        a {
          text-decoration: none;
          color: white;
          display: block;
          padding-block: 0.5rem;
        }
      }
    }
    #copyright {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 999px) and (min-width: 601px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;

    section {
      margin: 12rem 2rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-image: linear-gradient(
        to right,
        var(--tertiary),
        var(--button-gradient)
      );
      border: none;
      outline: none;
      color: white;
      border-radius: 0.3em;
      font-size: 1vw;
      cursor: pointer;
      padding: 0.9em 1.8em;
      margin: auto;
    }

    .secondary-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: var(--tertiary);
      background: none;
      border: 1px solid var(--tertiary);
      outline: none;

      border-radius: 0.5em;
      font-size: 1vw;
      cursor: pointer;
      padding: 0.9em 1.8em;
      margin: auto;
    }

    header {
      display: flex;
      place-content: space-between;

      #mobile-cta {
        display: none;
      }

      #mobile-exit {
        display: none;
      }

      #logo {
        width: 12%;
      }
      #desktop-nav {
        display: flex;
        place-content: space-between;

        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 1.1vw;
          color: white;
          padding-right: 2rem;
        }

        #mobile-nav-buttons {
          display: none;
        }

        .trio-icons {
          display: flex;
          place-content: space-evenly;

          img {
            max-width: 15%;
            min-width: 5%;
          }
        }
      }
    }

    .hero {
      margin-block: 4.5rem;

      .left-col {
        #title {
          font-weight: bold;
          font-size: 4.2vw;

          padding-right: 9rem;

          span {
            color: var(--secondary);
          }
        }

        #subhead {
          padding-right: 14rem;
          font-size: 1.4vw;
          margin-block: 1rem;
        }

        .hero-buttons {
          display: flex;
          margin-block: 6rem;

          .explore-image-text {
            margin-right: 2rem;
          }

          #rocket {
            width: 18%;
            padding-right: 0.4rem;
          }

          #learn-arrow-img {
            width: 10%;
            padding-left: 0.3rem;
          }
        }
      }
    }

    .right-col {
      margin-block: 5rem;
      .flex-box {
        display: flex;
        flex-direction: row-reverse;

        .right-tablet-flex {
          width: 60%;
        }

        .left-tablet-flex {
          width: 40%;
        }

        #nft-mobile {
          display: none;
        }

        .glass-bar {
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .left-info {
            .name {
              font-size: 2vw;
              font-weight: bold;
            }
            .sub-name {
              margin-block: 0.3rem 2.5rem;
              font-size: 1vw;
            }

            #bottom-bid {
              font-size: 1vw;
              padding-bottom: 0.8rem;
            }
            .eth-price {
              display: flex;
              font-size: 2vw;
              margin-bottom: 1rem;

              img {
                padding-right: 0.6rem;
              }
            }
          }

          .right-info {
            .bidding-ends {
              font-size: 0.9vw;
            }

            .countdown {
              display: flex;
              margin-bottom: 1rem;

              .minute,
              .hour,
              .second {
                font-size: 1.8vw;
              }

              .hours-timer {
                padding: 0.8rem;
                text-align: center;

                .time-name {
                  font-size: 1vw;
                }
              }

              hr {
                display: none;
              }
            }
            #place-bid {
              padding: 0.75rem;
              margin: 0;

              span {
                font-size: 1.3vw;
              }
              img {
                padding-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  #wallet-sponsors {
    margin: 8rem auto;
    width: 80%;
  }

  #nft-carousel-one {
    text-align: center;

    .sub-title {
      font-size: 1.2vw;
      color: var(--tertiary);
    }

    .title {
      font-size: 2.5vw;
      margin-bottom: 2rem;
    }

    .nft-multicolour-showcase {
      margin: auto;
      display: flex;
      align-items: flex-end;

      .nft {
        position: relative;

        .nft-overlay {
          position: absolute;
          width: 100%;
          bottom: 10%;

          .nft-name {
            font-size: 1.6vw;
            margin-block: 1rem;
          }

          button {
            background: white;
            color: black;
          }
        }
      }
    }
  }

  #explain-cards {
    text-align: center;

    .section-heading {
      font-size: 2.5vw;

      span {
        color: var(--secondary);
      }
    }

    .section-sub-heading {
      font-size: 1.3vw;
      margin-bottom: 1.5rem;
      span {
        color: var(--tertiary);
      }
    }

    .explain-section {
      display: flex;
      flex-direction: column;
      place-content: space-between;

      .steps {
        border: 1px solid #bfbfbf;
        border-radius: 0.5rem;
        background-color: #1d212e;
        display: flex;
        align-items: center;
        margin: 1rem;
        padding: 1rem;

        #number {
          font-size: 1.5vw;
          font-weight: bold;
          color: var(--tertiary);
        }

        hr {
          margin-inline: 1rem;
          height: 2.5rem;
          margin-right: 2rem;
        }

        #step-name {
          font-size: 1.8vw;
        }

        .number {
          text-align: left;
          font-size: 2.5vw;
          color: var(--tertiary);
          padding: 1.2rem;
        }
      }

      #step-1,
      #step-2,
      #step-3,
      #step-4 {
        margin-inline: 1rem;
      }
    }
  }

  .trending {
    font-weight: bold;
    text-align: center;

    span {
      color: var(--tertiary);
    }
  }
  #nft-carousel-two {
    display: flex;
    place-content: space-between;

    .nft-card {
      background: rgba(255, 255, 255, 0.15);
      border: 0.5px solid white;
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.7px);

      margin: 2rem 0.5rem;
      border: 0.8px white solid;
      border-radius: 0.8rem;

      .nft-card-center {
        margin: 1rem 1rem 0.5rem 1rem;

        .nft-card-text {
          display: flex;
          place-content: space-between;
          padding-block: 1rem;

          .nft-name,
          .price {
            font-weight: bold;
            margin-bottom: 0.5rem;
            font-size: 1.3vw;
          }

          .owner {
            font-size: 0.9vw;
          }

          .right-text {
            text-align: right;

            button {
              padding: 0.4rem 0.7rem;

              img {
                margin-right: 0.3rem;
                width: 25%;
              }

              .view-text {
                font-size: 0.9vw;
              }
            }
          }
        }
      }
    }
  }
  #tree-plant {
    display: flex;

    .left-section {
      width: 80%;

      #question {
        font-size: 3vw;
        font-weight: bold;

        span {
          color: var(--secondary);
        }
      }
      #subtext {
        font-size: 1vw;
        padding-bottom: 3rem;
        padding-right: 8rem;
      }

      #learn-more-button {
        background-image: linear-gradient(to right, var(--secondary), #6daf89);
        margin: 0;
      }
    }

    .right-section {
      columns: 3;
      width: 60%;

      img {
        padding: 1rem;
      }
    }
  }
  .email-signup {
    text-align: center;
    background-color: #202431;
    margin-inline: 3rem;
    padding: 4rem 2rem;
    z-index: 999;
    #title {
      margin-bottom: 2rem;
      font-size: 2.5vw;
    }
    #sub-head {
      font-size: 1.3vw;
    }

    .flex-button-email {
      display: flex;
      margin: auto;
      margin-block: 2rem;
      width: 80%;

      #email {
        background-color: none;
        padding: 0.5rem;
        width: 80%;
        margin-inline: 1rem;
      }

      input[type="email"] {
        border: 1px solid var(--tertiary);
        border-radius: 0.4rem;
        background-color: var(--primary);
      }

      button {
        margin: 0;
        padding: 0.5rem 0.9rem;
      }
    }
  }
  footer {
    margin: -4rem;
    padding: 4rem;
    background-color: #1b1f2c;
    .footer-name {
      font-size: 1.5vw;
      padding-bottom: 2rem;
    }
    div {
      display: flex;

      .left-footer {
        width: 50%;
        display: block;
        .paragraph {
          font-size: 1.3vw;
        }

        .footer-links {
          margin-block: 2rem;
          img {
            margin: 1rem;
          }
        }
      }

      .right-footer {
        width: 50%;

        .list-one {
          display: block;
          margin: 0 6rem;
          .list-title {
            font-weight: bold;
            margin-bottom: 1rem;
          }

          ul {
            margin: 0;
            padding: 0;

            a {
              color: white;
              text-decoration: none;
              display: block;
              padding: 0.5rem;
              font-size: 1.4vw;
            }
          }
        }
      }

      #copyright {
        text-align: center;
        margin-block: 3rem;
      }
    }
  }
}

/*     Desktop View      */

@media only screen and (min-width: 1000px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;

    section {
      margin: 14rem 8rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-image: linear-gradient(
        to right,
        var(--tertiary),
        var(--button-gradient)
      );
      border: none;
      outline: none;
      color: white;
      border-radius: 0.3em;
      font-size: 1vw;
      cursor: pointer;
      padding: 0.9em 1.8em;
      margin: auto;
    }

    button:hover {
      transform: scale(1.03);
      transition: 0.2s ease;
    }

    .secondary-button {
      color: var(--tertiary);
      background: none;
      border: 1px solid var(--tertiary);
    }

    header {
      display: flex;
      place-content: space-between;

      #mobile-cta {
        display: none;
      }

      #mobile-exit {
        display: none;
      }

      #logo {
        width: 10%;
      }
      #desktop-nav {
        display: flex;
        place-content: space-around;
        ul {
          width: 100%;
          a {
            text-decoration: none;
            margin: 1.5rem;
            font-weight: bold;
            font-size: 1vw;
            color: white;
            padding-right: 1rem;
          }

          #mobile-nav-buttons {
            display: none;
          }
        }

        .trio-icons {
          display: flex;
          place-content: space-between;
          width: 40%;

          img {
            width: 27%;
          }

          #search:hover,
          #profile:hover,
          #wallet:hover {
            transform: scale(1.05);
            transition: 0.3s ease;
          }
        }
      }
    }
  }

  .hero {
    display: flex;
    margin: 3.5rem 0rem;

    .left-col {
      width: 50%;
      #title {
        font-weight: bold;
        font-size: 3.8vw;

        padding-right: 9rem;

        span {
          color: var(--secondary);
        }
      }

      #subhead {
        padding-right: 14rem;
        font-size: 1.1vw;
        margin-block: 1rem;
      }

      .hero-buttons {
        display: flex;
        margin-block: 3rem;

        .explore-image-text {
          margin-right: 2rem;
        }

        #rocket {
          width: 18%;
          padding-right: 0.4rem;
        }

        #learn-arrow-img {
          width: 15%;
          padding-left: 0.3rem;
        }
      }
    }

    .right-col {
      width: 50%;

      .flex-box {
        #nft-desktop {
          min-width: 60%;
          max-width: 75%;
          margin-left: auto;
        }

        #nft-mobile {
          display: none;
        }

        .glass-bar {
          position: absolute;
          bottom: 14%;
          background: rgba(255, 255, 255, 0.15);
          border: 0.5px solid white;
          border-radius: 10px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(12.7px);

          display: flex;
          place-content: space-between;
          padding: 1.2rem;

          .left-info {
            margin-right: 2rem;
            .name {
              font-size: 1.2vw;
              font-weight: bold;
            }
            .sub-name {
              margin-block: 0.3rem 2.5rem;
              font-size: 0.8vw;
            }

            #bottom-bid {
              font-size: 0.8vw;
              padding-bottom: 0.8rem;
            }
            .eth-price {
              display: flex;
              font-size: 1vw;
              img {
                padding-right: 0.6rem;
              }
            }
          }

          .right-info {
            .bidding-ends {
              font-size: 0.9vw;
            }

            .countdown {
              display: flex;
              margin-bottom: 1rem;

              .minute,
              .hour,
              .second {
                font-size: 1.1vw;
              }

              .hours-timer {
                padding: 0.8rem;
                text-align: center;

                .time-name {
                  font-size: 0.7vw;
                }
              }

              hr {
                display: none;
              }
            }
            #place-bid {
              padding: 0.8rem;
              margin: auto;

              span {
                font-size: 0.8vw;
              }
              img {
                padding-right: 0.5rem;
                min-width: 10%;
                max-width: 30%;
              }
            }
          }
        }
      }
    }
  }

  #wallet-sponsors {
    width: 60%;
    margin: auto;
    margin-block: 6rem;
  }
  #nft-carousel-one {
    text-align: center;

    .sub-title {
      font-size: 1vw;
      color: var(--tertiary);
    }

    .title {
      font-size: 2vw;
      margin-bottom: 2rem;
    }

    .nft-multicolour-showcase {
      margin: auto;
      display: flex;
      align-items: flex-end;

      .nft {
        position: relative;

        .nft-overlay {
          position: absolute;
          width: 100%;
          bottom: 10%;

          .nft-name {
            font-size: 1.6vw;
            margin-block: 1rem;
          }

          button {
            background: white;
            color: black;
          }
        }
      }
    }
  }

  #explain-cards {
    text-align: center;

    .section-heading {
      font-size: 2vw;

      span {
        color: var(--secondary);
      }
    }

    .section-sub-heading {
      margin-bottom: 2rem;
      span {
        color: var(--tertiary);
      }
    }

    .explain-section {
      display: flex;
      place-content: space-between;
      height: 350px;

      .steps {
        border: 1px solid #bfbfbf;
        border-radius: 0.5rem;
        background-color: #1d212e;

        .number {
          margin: 1.8rem;
          font-size: 1.5vw;
          font-weight: bold;
          color: var(--tertiary);
        }

        hr {
          margin-inline: 3rem;
        }

        #step-name {
          text-align: left;
          transform: rotate(90deg);
          margin-top: 8rem;
          font-size: 1.5vw;
        }
      }

      #step-1,
      #step-2,
      #step-3,
      #step-4 {
        flex-grow: 1;
        margin-inline: 1rem;
      }
    }
  }

  .trending {
    font-weight: bold;
    text-align: center;

    span {
      color: var(--tertiary);
    }
  }
  #nft-carousel-two {
    display: flex;
    place-content: space-between;

    .nft-card {
      background: rgba(255, 255, 255, 0.048);
      border: 0.5px solid white;
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.302);
      backdrop-filter: blur(15px);

      margin: 2rem 1rem;
      border: 0.8px white solid;
      border-radius: 0.8rem;

      .nft-card-center {
        margin: 1rem 1rem 0.5rem 1rem;

        .nft-card-text {
          display: flex;
          place-content: space-between;
          padding-block: 1rem;

          .nft-name,
          .price {
            font-weight: bold;
            margin-bottom: 0.7rem;
          }

          .owner {
            font-size: 0.9vw;
          }

          .right-text {
            text-align: right;

            button {
              padding: 0.5rem 0.9rem;

              img {
                margin-right: 0.3rem;
                width: 27%;
              }

              .view-text {
                font-size: 0.8vw;
              }
            }
          }
        }
      }
    }
  }
  #tree-plant {
    display: flex;

    .left-section {
      width: 80%;

      #question {
        font-size: 3vw;
        font-weight: bold;
        padding-right: 15rem;

        span {
          color: var(--secondary);
        }
      }
      #subtext {
        font-size: 1vw;
        padding-bottom: 3rem;
        padding-right: 8rem;
      }

      #learn-more-button {
        background-image: linear-gradient(to right, var(--secondary), #6daf89);
        margin: 0;
      }
    }

    .right-section {
      columns: 3;
      width: 60%;

      img {
        padding: 1rem;
        width: 90%;
      }
    }
  }
  .email-signup {
    text-align: center;
    background-color: #202431;
    margin-inline: 3rem;
    padding: 6rem 2em;
    z-index: 999;

    #title {
      margin-bottom: 2rem;
      font-size: 2.5vw;
    }
    #sub-head {
      font-size: 1vw;
    }

    .flex-button-email {
      display: flex;
      margin: auto;
      margin-block: 2rem;
      width: 50%;

      #email {
        background-color: none;
        padding: 0.5rem;
        width: 60%;
        margin-inline: 1rem;
      }

      input[type="email"] {
        border: 1px solid var(--tertiary);
        border-radius: 0.4rem;
        background-color: var(--primary);
      }

      button {
        margin: 0;
      }
    }
  }

  footer {
    margin: -4rem;
    padding: 4rem;
    background-color: #1b1f2c;
    z-index: 0;
    .footer-name {
      font-size: 1.5vw;
      padding-bottom: 2rem;
    }
    div {
      display: flex;

      .left-footer {
        width: 50%;
        display: block;

        .footer-links {
          img {
            margin: 1rem;
          }

          .paragraph {
            margin-right: 7rem;
            font-size: 1.5vw;
          }
        }
      }

      .right-footer {
        width: 50%;

        .list-one {
          display: block;
          margin: 0 6rem;
          .list-title {
            font-weight: bold;
            margin-bottom: 1rem;
          }

          ul {
            margin: 0;
            padding: 0;

            a {
              color: white;
              text-decoration: none;
              display: block;
              padding: 0.5rem;
            }
          }
        }
      }

      #copyright {
        text-align: center;
        margin-block: 3rem;
      }
    }
  }
}
