/*Organise big chunks of code into classes, ie positions, colour etc*/
/*Make picture collage look nicer*/
/*Add image overlays for the tree section with quick overviews of each country*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
:root {
  --primary: #232838;
  --secondary: #5ecb8c;
  --tertiary: #ae5ecb;
  --button-gradient: #6456d1;
  --primary-button-font-size: 2.5vw;
  --secondary-button-font-size: 2.5vw;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/*         Phone CSS         */
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: poppins;
    background-color: var(--primary);
  }
  body section {
    margin: 10rem 2.5rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: var(--primary-button-font-size);
    cursor: pointer;
    padding: 0.7rem 1.4rem;
    margin: auto;
  }
  body .secondary-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: 0.5em;
    font-size: var(--primary-button-font-size);
    cursor: pointer;
    padding: 0.7rem 1.4rem;
    margin: auto;
  }
  body header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    place-content: space-between;
    padding: 2rem;
    background-color: var(--primary);
    z-index: 999;
  }
  body header #logo {
    max-width: 6rem;
  }
  body header .hamburger {
    width: 10%;
  }
  body header #desktop-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: #1b1f2b;
    padding: 2.5rem;
    transform: translateX(110%);
    transition: 0.2s ease;
    box-shadow: 1px 0px 10px #222636 inset;
  }
  body header #desktop-nav #mobile-exit {
    float: right;
    width: 8%;
  }
  body header #desktop-nav ul {
    text-align: right;
    margin-top: 3rem;
  }
  body header #desktop-nav ul a {
    color: white;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding-block: 1rem;
  }
  body header #desktop-nav ul #mobile-nav-buttons {
    padding: 0;
  }
  body header #desktop-nav .trio-icons {
    display: none;
  }
  body header #desktop-nav[data-visible=true] {
    display: block;
    transform: translateX(0%);
    transition: 0.2s ease-out;
  }
  body .hero {
    margin-inline: 2rem;
  }
  body .hero .left-col {
    padding: 5rem 0;
  }
  body .hero .left-col #title {
    font-size: 10vw;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  body .hero .left-col #title span {
    color: var(--secondary);
  }
  body .hero .left-col #subhead {
    font-size: 3.5vw;
  }
  body .hero .hero-buttons {
    display: flex;
    place-content: space-evenly;
    margin: 5rem 1rem;
  }
  body .hero .hero-buttons .explore-image-text {
    display: flex;
    justify-content: center;
  }
  body .hero .hero-buttons .explore-image-text img {
    padding-inline: 0.3rem;
    width: 0.9rem;
  }
  body .hero .hero-buttons .explore-image-text span {
    padding-inline: 0.3rem;
    font-size: 2.5vw;
  }
  body .hero .hero-buttons .learnmore {
    font-size: var(--primary-button-font-size);
    display: flex;
    justify-content: center;
  }
  body .hero .hero-buttons .learnmore .learn-inside {
    display: flex;
  }
  body .hero .hero-buttons .learnmore .learn-inside img {
    width: 0.9rem;
    padding-inline: 0.3rem;
  }
  body .hero .hero-buttons .learnmore .learn-inside span {
    font-size: 2.5vw;
  }
  body .hero .right-col #nft-desktop {
    display: none;
  }
  body #wallet-sponsors-mobile {
    width: 80%;
    margin: auto;
  }
  body #wallet-sponsors {
    display: none;
  }
  body #nft-showcase-1 .flexbox-showcase {
    display: flex;
    flex-direction: column-reverse;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase {
    text-align: center;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-name {
    font-size: 6vw;
    margin-top: 2rem;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-owner-tick {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-owner-tick .nft-owner-name {
    font-size: 2.2vw;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-owner-tick img {
    width: 4%;
    margin-left: 0.4rem;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .bidding-ends {
    margin-block: 2rem 0rem;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown {
    display: flex;
    justify-content: center;
    margin-block: 2rem 4rem;
    text-align: center;
    font-size: 4.5vw;
    margin-inline: 2.7rem;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown .time-name {
    font-size: 3vw;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase button {
    margin-top: 6vw;
  }
  body #nft-showcase-1 .flexbox-showcase .left-nft-showcase button span {
    padding-left: 0.5rem;
    font-size: 2.5vw;
  }
  body #nft-showcase-1 .flexbox-showcase .right-nft-showcase img {
    margin: auto;
  }
  body #nft-carousel-one {
    text-align: center;
  }
  body #nft-carousel-one .nft-multicolour-showcase #yellow-nft,
body #nft-carousel-one .nft-multicolour-showcase #blue-nft {
    display: none;
  }
  body #nft-carousel-one .nft-multicolour-showcase img {
    width: 85%;
    margin: auto;
  }
  body #nft-carousel-one .title {
    font-size: 5vw;
    margin-bottom: 2rem;
  }
  body #nft-carousel-one .sub-title {
    font-size: 3vw;
    color: var(--tertiary);
  }
  body #nft-carousel-one .nft {
    position: relative;
  }
  body #nft-carousel-one .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 1;
  }
  body #nft-carousel-one .nft .nft-overlay .nft-name {
    font-size: 3.5vw;
    margin-block: 1rem;
  }
  body #nft-carousel-one .nft .nft-overlay button {
    background: white;
    color: black;
    font-size: 2.5vw;
    font-weight: bold;
  }
  body .trending {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 1.5rem;
  }
  body .trending span {
    color: var(--tertiary);
  }
  body #nft-carousel-two #nft-card-2,
body #nft-carousel-two #nft-card-3 {
    display: none;
  }
  body #nft-carousel-two .nft-card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.302);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    padding-top: 0.1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center #nft-carousel-1 {
    margin: auto;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text {
    display: flex;
    place-content: space-between;
    padding-block: 1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .nft-name {
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .price {
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .owner {
    font-size: 2.4vw;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text {
    text-align: right;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button {
    padding: 0.7rem 1.1rem;
    align-items: center;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button img {
    margin-right: 0.3rem;
    width: 25%;
  }
  body #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button .view-text {
    font-size: 2.6vw;
  }
  body #nft-carousel-two .nft-card .bottom-section {
    display: flex;
    place-content: space-between;
    margin-block: 2rem 1rem;
  }
  body #nft-carousel-two .nft-card .bottom-section .history {
    display: flex;
    place-content: space-around;
    align-items: center;
    width: 30%;
  }
  body #nft-carousel-two .nft-card .bottom-section .history #view-history {
    font-size: 2.5vw;
    padding-left: 0.1em;
  }
  #tree-plant #question {
    font-size: 8vw;
    font-family: poppins;
  }
  #tree-plant #question span {
    color: var(--secondary);
  }
  #tree-plant #subtext {
    font-size: 3vw;
  }
  #tree-plant #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6fac8d);
    margin: 4rem auto;
  }
  #tree-plant img {
    display: none;
  }
  .email-signup {
    text-align: center;
    margin-inline: 2rem;
  }
  .email-signup #title {
    font: 6vw bold;
    margin-bottom: 2rem;
    font-family: poppins;
  }
  .email-signup #sub-head {
    font-size: 3vw;
    margin-bottom: 2rem;
    font-family: poppins;
  }
  .email-signup #email {
    background-color: none;
    width: 80%;
    padding: 0.5rem;
  }
  .email-signup input[type=email] {
    border: 2px solid var(--tertiary);
    background-color: var(--primary);
    margin-block: 2rem;
  }
  .email-signup button {
    font-size: 3vw;
  }
  footer {
    background-color: #171a24;
    box-shadow: 0 2px 15px #171a24;
    margin-top: 8rem;
    padding: 2rem;
  }
  footer .footer-name {
    font-size: 4vw;
    padding-bottom: 4rem;
  }
  footer div .left-footer {
    width: 50%;
  }
  footer div .left-footer .footer-links {
    display: none;
  }
  footer div .left-footer .paragraph {
    display: none;
  }
  footer div .right-footer ul {
    padding: 1rem 0rem;
    margin: 0 0 2rem 0;
  }
  footer div .right-footer a {
    text-decoration: none;
    color: white;
    display: block;
    padding-block: 0.5rem;
  }
  footer #copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 999px) and (min-width: 601px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;
  }
  body section {
    margin: 12rem 2rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
  }
  body .secondary-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: 0.5em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
  }
  body header {
    display: flex;
    place-content: space-between;
  }
  body header #mobile-cta {
    display: none;
  }
  body header #mobile-exit {
    display: none;
  }
  body header #logo {
    width: 12%;
  }
  body header #desktop-nav {
    display: flex;
    place-content: space-between;
  }
  body header #desktop-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1vw;
    color: white;
    padding-right: 2rem;
  }
  body header #desktop-nav #mobile-nav-buttons {
    display: none;
  }
  body header #desktop-nav .trio-icons {
    display: flex;
    place-content: space-evenly;
  }
  body header #desktop-nav .trio-icons img {
    max-width: 15%;
    min-width: 5%;
  }
  body .hero {
    margin-block: 4.5rem;
  }
  body .hero .left-col #title {
    font-weight: bold;
    font-size: 4.2vw;
    padding-right: 9rem;
  }
  body .hero .left-col #title span {
    color: var(--secondary);
  }
  body .hero .left-col #subhead {
    padding-right: 14rem;
    font-size: 1.4vw;
    margin-block: 1rem;
  }
  body .hero .left-col .hero-buttons {
    display: flex;
    margin-block: 6rem;
  }
  body .hero .left-col .hero-buttons .explore-image-text {
    margin-right: 2rem;
  }
  body .hero .left-col .hero-buttons #rocket {
    width: 18%;
    padding-right: 0.4rem;
  }
  body .hero .left-col .hero-buttons #learn-arrow-img {
    width: 10%;
    padding-left: 0.3rem;
  }
  body .right-col #nft-desktop {
    display: none;
  }
  #wallet-sponsors {
    margin: 8rem auto;
    width: 80%;
  }
  #wallet-sponsors-mobile {
    display: none;
  }
  #nft-showcase-1 .flexbox-showcase {
    display: flex;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase {
    width: 50%;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-name {
    font-size: 2.5vw;
    margin-top: 4rem;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-owner-tick {
    display: flex;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .bidding-ends {
    margin-block: 4vw 0rem;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown {
    display: flex;
    margin-block: 2vw 4rem;
    text-align: center;
    font-size: 1.3vw;
    width: 60%;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown .time-name {
    font-size: 0.8vw;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase button {
    margin: 0;
    margin-top: 6vw;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase button span {
    padding-left: 0.5rem;
    font-size: 0.9vw;
  }
  #nft-showcase-1 .flexbox-showcase .right-nft-showcase img {
    width: 85%;
    float: right;
  }
  #nft-carousel-one {
    text-align: center;
  }
  #nft-carousel-one .sub-title {
    font-size: 1.2vw;
    color: var(--tertiary);
  }
  #nft-carousel-one .title {
    font-size: 2.5vw;
    margin-bottom: 2rem;
  }
  #nft-carousel-one .nft-multicolour-showcase {
    margin: auto;
    display: flex;
    align-items: flex-end;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft {
    position: relative;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay .nft-name {
    font-size: 1.6vw;
    margin-block: 1rem;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay button {
    background: white;
    color: black;
  }
  .trending {
    font-weight: bold;
    text-align: center;
  }
  .trending span {
    color: var(--tertiary);
  }
  #nft-carousel-two {
    display: flex;
    place-content: space-between;
  }
  #nft-carousel-two .nft-card {
    background: rgba(255, 255, 255, 0.15);
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.7px);
            backdrop-filter: blur(12.7px);
    margin: 2rem 0.5rem;
    border: 0.8px white solid;
    border-radius: 0.8rem;
  }
  #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text {
    display: flex;
    place-content: space-between;
    padding-block: 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .nft-name,
#nft-carousel-two .nft-card .nft-card-center .nft-card-text .price {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.3vw;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .owner {
    font-size: 0.9vw;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text {
    text-align: right;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button {
    padding: 0.4rem 0.7rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button img {
    margin-right: 0.3rem;
    width: 25%;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button .view-text {
    font-size: 0.9vw;
  }
  #tree-plant {
    display: flex;
  }
  #tree-plant .left-section {
    width: 80%;
  }
  #tree-plant .left-section #question {
    font-size: 3vw;
    font-weight: bold;
  }
  #tree-plant .left-section #question span {
    color: var(--secondary);
  }
  #tree-plant .left-section #subtext {
    font-size: 1vw;
    padding-bottom: 3rem;
    padding-right: 8rem;
  }
  #tree-plant .left-section #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6daf89);
    margin: 0;
  }
  #tree-plant .right-section {
    -moz-columns: 3;
         columns: 3;
    width: 60%;
  }
  #tree-plant .right-section img {
    padding: 1rem;
  }
  .email-signup {
    text-align: center;
    background-color: #202431;
    margin-inline: 3rem;
    padding: 4rem 2rem;
    z-index: 999;
  }
  .email-signup #title {
    margin-bottom: 2rem;
    font-size: 2.5vw;
  }
  .email-signup #sub-head {
    font-size: 1.3vw;
  }
  .email-signup .flex-button-email {
    display: flex;
    margin: auto;
    margin-block: 2rem;
    width: 80%;
  }
  .email-signup .flex-button-email #email {
    background-color: none;
    padding: 0.5rem;
    width: 80%;
    margin-inline: 1rem;
  }
  .email-signup .flex-button-email input[type=email] {
    border: 1px solid var(--tertiary);
    border-radius: 0.4rem;
    background-color: var(--primary);
  }
  .email-signup .flex-button-email button {
    margin: 0;
    padding: 0.5rem 0.9rem;
  }
  footer {
    margin: -4rem;
    padding: 4rem;
    background-color: #1b1f2c;
  }
  footer .footer-name {
    font-size: 1.5vw;
    padding-bottom: 2rem;
  }
  footer div {
    display: flex;
  }
  footer div .left-footer {
    width: 50%;
    display: block;
  }
  footer div .left-footer .paragraph {
    font-size: 1.3vw;
  }
  footer div .left-footer .footer-links {
    margin-block: 2rem;
  }
  footer div .left-footer .footer-links img {
    margin: 1rem;
  }
  footer div .right-footer {
    width: 50%;
  }
  footer div .right-footer .list-one {
    display: block;
    margin: 0 6rem;
  }
  footer div .right-footer .list-one .list-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  footer div .right-footer .list-one ul {
    margin: 0;
    padding: 0;
  }
  footer div .right-footer .list-one ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    font-size: 1.4vw;
  }
  footer div #copyright {
    text-align: center;
    margin-block: 3rem;
  }
}
/*     Desktop View      */
@media only screen and (min-width: 1000px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;
  }
  body section {
    margin: 14rem 8rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
    transform: scale(1);
    transition: 0.3s ease;
  }
  body button:hover {
    transform: scale(1.03);
    transition: 0.2s ease;
  }
  body .secondary-button {
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
  }
  body header {
    display: flex;
    place-content: space-between;
  }
  body header #mobile-cta {
    display: none;
  }
  body header #mobile-exit {
    display: none;
  }
  body header #logo {
    width: 10%;
  }
  body header #desktop-nav {
    display: flex;
    place-content: space-around;
  }
  body header #desktop-nav ul {
    width: 100%;
  }
  body header #desktop-nav ul a {
    text-decoration: none;
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    padding-right: 1rem;
  }
  body header #desktop-nav ul #mobile-nav-buttons {
    display: none;
  }
  body header #desktop-nav .trio-icons {
    display: flex;
    place-content: space-between;
    width: 40%;
  }
  body header #desktop-nav .trio-icons img {
    width: 27%;
    transform: scale(1);
    transition: 0.3s ease;
  }
  body header #desktop-nav .trio-icons #search:hover,
body header #desktop-nav .trio-icons #profile:hover,
body header #desktop-nav .trio-icons #wallet:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .hero {
    display: flex;
  }
  .hero .left-col {
    width: 50%;
    margin-top: 6rem;
  }
  .hero .left-col #title {
    font-weight: bold;
    font-size: 4vw;
  }
  .hero .left-col #title span {
    color: var(--secondary);
  }
  .hero .left-col #subhead {
    font-size: 1.2vw;
    margin-block: 3rem;
  }
  .hero .left-col .hero-buttons {
    display: flex;
    margin-block: 6rem 0;
  }
  .hero .left-col .hero-buttons .explore-image-text {
    margin-right: 2rem;
  }
  .hero .left-col .hero-buttons #rocket {
    width: 18%;
    padding-right: 0.4rem;
  }
  .hero .left-col .hero-buttons #learn-arrow-img {
    width: 15%;
    padding-left: 0.3rem;
  }
  .hero .right-col {
    margin-top: 2rem;
  }
  .hero .right-col img {
    width: 75%;
    float: right;
  }
  #wallet-sponsors {
    width: 60%;
    margin: auto;
    margin-block: 6rem;
  }
  #wallet-sponsors-mobile {
    display: none;
  }
  #nft-showcase-1 .flexbox-showcase {
    display: flex;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase {
    width: 50%;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-name {
    font-size: 2.5vw;
    margin-top: 4rem;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .nft-owner-tick {
    display: flex;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .bidding-ends {
    margin-block: 4vw 0rem;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown {
    display: flex;
    margin-block: 2vw 4rem;
    text-align: center;
    font-size: 1.3vw;
    width: 60%;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase .countdown .time-name {
    font-size: 0.8vw;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase button {
    margin: 0;
    margin-top: 6vw;
  }
  #nft-showcase-1 .flexbox-showcase .left-nft-showcase button span {
    padding-left: 0.5rem;
    font-size: 0.9vw;
  }
  #nft-showcase-1 .flexbox-showcase .right-nft-showcase img {
    width: 85%;
    float: right;
    transform: scale(1);
    transition: 0.3s ease;
  }
  #nft-showcase-1 .flexbox-showcase .right-nft-showcase img:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
  }
  #nft-carousel-one {
    text-align: center;
  }
  #nft-carousel-one .sub-title {
    font-size: 1vw;
    color: var(--tertiary);
  }
  #nft-carousel-one .title {
    font-size: 2vw;
    margin-bottom: 2rem;
  }
  #nft-carousel-one .nft-multicolour-showcase {
    margin: auto;
    display: flex;
    align-items: flex-end;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft {
    position: relative;
    transform: scale(1);
    transition: 0.3s ease;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay .nft-name {
    font-size: 1.6vw;
    margin-block: 1rem;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay button {
    background: white;
    color: black;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
  }
  #tree-plant {
    display: flex;
  }
  #tree-plant .left-section {
    width: 80%;
  }
  #tree-plant .left-section #question {
    font-size: 3vw;
    font-weight: bold;
    padding-right: 15rem;
  }
  #tree-plant .left-section #question span {
    color: var(--secondary);
  }
  #tree-plant .left-section #subtext {
    font-size: 1vw;
    padding-bottom: 3rem;
    padding-right: 8rem;
  }
  #tree-plant .left-section #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6daf89);
    margin: 0;
  }
  #tree-plant .right-section {
    -moz-columns: 3;
         columns: 3;
    width: 60%;
  }
  #tree-plant .right-section img {
    padding: 1rem;
    width: 90%;
  }
  .trending {
    text-align: center;
    font-size: 2vw;
  }
  .trending span {
    color: var(--tertiary);
  }
  #nft-carousel-two {
    display: flex;
    place-content: space-between;
  }
  #nft-carousel-two .nft-card:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
  }
  #nft-carousel-two .nft-card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.302);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    margin: 2rem 1rem;
    border-radius: 0.8rem;
    transform: scale(1);
    transition: 0.3s ease;
  }
  #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text {
    display: flex;
    place-content: space-between;
    padding-block: 1.3rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .nft-name,
#nft-carousel-two .nft-card .nft-card-center .nft-card-text .price {
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .owner {
    font-size: 0.9vw;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text {
    text-align: right;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button {
    padding: 0.6rem 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button img {
    margin-right: 0.3rem;
    width: 27%;
  }
  #nft-carousel-two .nft-card .nft-card-center .nft-card-text .right-text button .view-text {
    font-size: 0.8vw;
  }
  .email-signup {
    text-align: center;
    background-color: #202431;
    margin-inline: 3rem;
    padding: 6rem 2em;
    z-index: 999;
  }
  .email-signup #title {
    margin-bottom: 2rem;
    font-size: 2.5vw;
  }
  .email-signup #sub-head {
    font-size: 1vw;
  }
  .email-signup .flex-button-email {
    display: flex;
    margin: auto;
    margin-block: 2rem;
    width: 50%;
  }
  .email-signup .flex-button-email #email {
    background-color: none;
    padding: 0.5rem;
    width: 60%;
    margin-inline: 1rem;
  }
  .email-signup .flex-button-email input[type=email] {
    border: 1px solid var(--tertiary);
    border-radius: 0.4rem;
    background-color: var(--primary);
  }
  .email-signup .flex-button-email button {
    margin: 0;
  }
  footer {
    margin: -4rem;
    padding: 4rem;
    background-color: #1b1f2c;
    z-index: 0;
  }
  footer .footer-name {
    font-size: 1.5vw;
    padding-bottom: 2rem;
  }
  footer div {
    display: flex;
  }
  footer div .left-footer {
    width: 50%;
    display: block;
  }
  footer div .left-footer .footer-links img {
    margin: 1rem;
  }
  footer div .left-footer .footer-links .paragraph {
    margin-right: 7rem;
    font-size: 1.5vw;
  }
  footer div .right-footer {
    width: 50%;
  }
  footer div .right-footer .list-one {
    display: block;
    margin: 0 6rem;
  }
  footer div .right-footer .list-one .list-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  footer div .right-footer .list-one ul {
    margin: 0;
    padding: 0;
  }
  footer div .right-footer .list-one ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  footer div #copyright {
    text-align: center;
    margin-block: 3rem;
  }
}/*# sourceMappingURL=style.css.map */