/*Add more utility classes for colours, font sizes etc */
/*Research font sizes best for paragraphs, titles etc for different devices etc*/
/*Organise big chunks of code into classes, ie positions, colour etc*/
/*Make picture collage look nicer*/
/*Add image overlays for the tree section with quick overviews of each country*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
:root {
  --primary: #232838;
  --secondary: #5ecb8c;
  --tertiary: #ae5ecb;
  --button-gradient: #6456d1;
  --primary-button-font-size: 2.5vw;
  --secondary-button-font-size: 2.5vw;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/*         Phone CSS         */
@media only screen and (max-width: 600px) {
  body {
    margin: 2rem;
    color: white;
    font-family: poppins;
    background-color: var(--primary);
  }
  body section {
    margin: 10rem 1rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    border-radius: 0.5em;
    font-size: var(--primary-button-font-size);
    cursor: pointer;
    padding: 0.7rem 1.4rem;
    margin: auto;
  }
  body .secondary-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: 0.5em;
    font-size: var(--primary-button-font-size);
    cursor: pointer;
    padding: 0.7rem 1.4rem;
    margin: auto;
  }
  body header {
    display: flex;
    place-content: space-between;
  }
  body header #logo {
    max-width: 8rem;
  }
  body header .desktop-nav {
    display: none;
  }
  body .hero .left-col {
    padding: 8rem 0;
  }
  body .hero .left-col #title {
    font-size: 8vw;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  body .hero .left-col #title span {
    color: var(--secondary);
  }
  body .hero .left-col #subhead {
    font-size: 3vw;
  }
  body .hero .hero-buttons {
    display: flex;
    place-content: space-evenly;
    margin: 5rem 1rem;
  }
  body .hero .hero-buttons .explore-image-text {
    display: flex;
    justify-content: center;
  }
  body .hero .hero-buttons .explore-image-text img {
    padding-inline: 0.3rem;
    width: 0.9rem;
  }
  body .hero .hero-buttons .explore-image-text span {
    padding-inline: 0.3rem;
  }
  body .hero .hero-buttons .learnmore {
    font-size: var(--primary-button-font-size);
    display: flex;
    justify-content: center;
  }
  body .hero .hero-buttons .learnmore .learn-inside {
    display: flex;
  }
  body .hero .hero-buttons .learnmore .learn-inside img {
    width: 0.9rem;
    padding-inline: 0.3rem;
  }
  body .hero .right-col {
    text-align: center;
    padding-top: 2.5rem;
  }
  body .hero .right-col #nft-mobile {
    margin: auto;
    margin-block: 0 1rem;
    width: 95%;
  }
  body .hero .right-col #nft-desktop {
    display: none;
  }
  body .hero .right-col .glass-bar {
    margin: 0 3rem;
  }
  body .hero .right-col .glass-bar .name {
    font-size: 5vw;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  body .hero .right-col .glass-bar .sub-name {
    font-size: 2.5vw;
  }
  body .hero .right-col .glass-bar .bidding-ends {
    display: none;
  }
  body .hero .right-col .glass-bar .countdown {
    display: flex;
    place-content: space-around;
    margin: 1rem;
  }
  body .hero .right-col .glass-bar .countdown .number {
    font-weight: bold;
    font-size: 4vw;
  }
  body .hero .right-col .glass-bar .countdown .time-name {
    font-size: 2.5vw;
    margin-block: 0.5rem;
  }
  body .hero .right-col .glass-bar .eth-price {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  body .hero .right-col .glass-bar .eth-price #eth-symbol {
    width: 10%;
  }
  body .hero .right-col .glass-bar .eth-price #price {
    font-size: 4vw;
    margin-inline: 1rem;
  }
  body .hero .right-col .glass-bar #bottom-bid {
    display: none;
  }
  body .hero .right-col .glass-bar #place-bid {
    margin: 3rem auto;
  }
  body .hero .right-col .glass-bar #place-bid #shopping-icon {
    width: 0.8rem;
    margin-right: 0.8rem;
  }
  body .hero .right-col .glass-bar #place-bid span {
    font-weight: bold;
  }
  body #wallet-sponsors {
    margin-block: 4rem 0;
  }
  body #nft-carousel-one {
    text-align: center;
  }
  body #nft-carousel-one .nft-multicolour-showcase #yellow-nft,
body #nft-carousel-one .nft-multicolour-showcase #blue-nft {
    display: none;
  }
  body #nft-carousel-one .nft-multicolour-showcase img {
    width: 85%;
    margin: auto;
  }
  body #nft-carousel-one .title {
    font-size: 4vw;
    margin-bottom: 2rem;
  }
  body #nft-carousel-one .sub-title {
    font-size: 3vw;
    color: var(--tertiary);
  }
  body #nft-carousel-one .nft {
    position: relative;
  }
  body #nft-carousel-one .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  body #nft-carousel-one .nft .nft-overlay .nft-name {
    font-size: 3.5vw;
    margin-block: 1rem;
  }
  body #nft-carousel-one .nft .nft-overlay button {
    background: white;
    color: black;
    font-size: 2.5vw;
  }
  body #explain-cards {
    text-align: center;
  }
  body #explain-cards .section-heading {
    font-size: 4vw;
  }
  body #explain-cards .section-heading span {
    color: var(--secondary);
  }
  body #explain-cards .section-sub-heading {
    font-size: 3vw;
    margin-bottom: 1.5rem;
  }
  body #explain-cards .section-sub-heading span {
    color: var(--tertiary);
  }
  body #explain-cards .explain-section {
    display: flex;
    flex-direction: column;
    place-content: space-between;
  }
  body #explain-cards .explain-section .steps {
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    background-color: #1d212e;
    display: flex;
    align-items: center;
    margin: 0.7rem;
    padding: 0.3rem;
  }
  body #explain-cards .explain-section .steps .number {
    padding-inline: 0.8rem;
    font-weight: bold;
    color: var(--tertiary);
    font-size: 3vw;
  }
  body #explain-cards .explain-section .steps hr {
    margin-inline: 1rem;
    height: 2.5rem;
    border: 0.1px solid white;
  }
  body #explain-cards .explain-section .steps #step-name {
    font-size: 3vw;
  }
  body #explain-cards .explain-section .steps #number {
    text-align: left;
    font-size: 2vw;
  }
  body #explain-cards .explain-section #step-1,
body #explain-cards .explain-section #step-2,
body #explain-cards .explain-section #step-3,
body #explain-cards .explain-section #step-4 {
    margin-inline: 1rem;
  }
  body .trending {
    text-align: center;
    font-size: 4vw;
  }
  body .trending span {
    color: var(--tertiary);
  }
  body #nft-carousel-two #nft-2,
body #nft-carousel-two #nft-3 {
    display: none;
  }
  body #nft-carousel-two .nft-card {
    background-color: rgba(34, 33, 33, 0.175);
    border: 0.4px white solid;
    border-radius: 0.6rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center #nft-carousel-1 {
    margin: auto;
  }
  body #nft-carousel-two .nft-card .nft-card-center #name {
    font-size: 4vw;
    font-weight: bold;
    padding-block: 0.6rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section {
    display: flex;
    place-content: space-between;
    align-items: center;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner {
    display: flex;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #owner-nft-image {
    width: 18%;
    padding-right: 0.5rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #ownded-by {
    font-size: 2.5vw;
    color: darkgrey;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #name-owner {
    display: block;
    font-size: 3vw;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price {
    text-align: right;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price #current {
    font-size: 3vw;
    color: darkgrey;
  }
  body #nft-carousel-two .nft-card .bottom-section {
    display: flex;
    place-content: space-between;
    margin-block: 2rem 1rem;
  }
  body #nft-carousel-two .nft-card .bottom-section .history {
    display: flex;
    place-content: space-around;
    align-items: center;
    width: 30%;
  }
  body #nft-carousel-two .nft-card .bottom-section .history #view-history {
    font-size: 2.5vw;
    padding-left: 0.1em;
  }
  #tree-plant #question {
    font-size: 6vw;
    font-family: poppins;
  }
  #tree-plant #question span {
    color: var(--secondary);
  }
  #tree-plant #subtext {
    font-size: 3vw;
  }
  #tree-plant #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6fac8d);
    margin: 4rem auto;
  }
  #tree-plant img {
    display: none;
  }
  .email-signup {
    text-align: center;
  }
  .email-signup #title {
    font: 6vw bold;
    margin-bottom: 2rem;
    font-family: poppins;
  }
  .email-signup #sub-head {
    font-size: 3vw;
    margin-bottom: 2rem;
    font-family: poppins;
  }
  .email-signup #email {
    background-color: none;
    width: 90%;
    padding: 0.5rem;
  }
  .email-signup input[type=email] {
    border: 2px solid var(--tertiary);
    background-color: var(--primary);
    margin-block: 2rem;
  }
  footer {
    margin-top: 8rem;
  }
  footer .footer-name {
    font-size: 4vw;
    padding-bottom: 2rem;
  }
  footer div .left-footer {
    width: 50%;
  }
  footer div .left-footer .footer-links {
    display: none;
  }
  footer div .left-footer .paragraph {
    display: none;
  }
  footer div .right-footer ul {
    padding: 1rem 0rem;
    margin: 0;
  }
  footer div .right-footer a {
    text-decoration: none;
    color: white;
    display: block;
    padding-block: 0.5rem;
  }
  footer #copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;
  }
  body section {
    margin: 12rem 2rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
  }
  body .secondary-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: 0.5em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
  }
  body header {
    display: flex;
    place-content: space-between;
  }
  body header #hamburger {
    display: none;
  }
  body header #logo {
    width: 12%;
  }
  body header .desktop-nav {
    display: flex;
    place-content: space-between;
  }
  body header .desktop-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1vw;
    color: white;
    padding-right: 2rem;
  }
  body header .desktop-nav .trio-icons {
    display: flex;
    place-content: space-evenly;
  }
  body header .desktop-nav .trio-icons img {
    max-width: 15%;
    min-width: 5%;
  }
  body .hero {
    margin-block: 4.5rem;
  }
  body .hero .left-col #title {
    font-weight: bold;
    font-size: 4.2vw;
    padding-right: 9rem;
  }
  body .hero .left-col #title span {
    color: var(--secondary);
  }
  body .hero .left-col #subhead {
    padding-right: 14rem;
    font-size: 1.4vw;
    margin-block: 1rem;
  }
  body .hero .left-col .hero-buttons {
    display: flex;
    margin-block: 6rem;
  }
  body .hero .left-col .hero-buttons .explore-image-text {
    margin-right: 2rem;
  }
  body .hero .left-col .hero-buttons #rocket {
    width: 18%;
    padding-right: 0.4rem;
  }
  body .hero .left-col .hero-buttons #learn-arrow-img {
    width: 10%;
    padding-left: 0.3rem;
  }
  body .right-col {
    margin-block: 5rem;
  }
  body .right-col .flex-box {
    display: flex;
    flex-direction: row-reverse;
  }
  body .right-col .flex-box .right-tablet-flex {
    width: 60%;
  }
  body .right-col .flex-box .left-tablet-flex {
    width: 40%;
  }
  body .right-col .flex-box #nft-mobile {
    display: none;
  }
  body .right-col .flex-box .glass-bar {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .right-col .flex-box .glass-bar .left-info .name {
    font-size: 2vw;
    font-weight: bold;
  }
  body .right-col .flex-box .glass-bar .left-info .sub-name {
    margin-block: 0.3rem 2.5rem;
    font-size: 1vw;
  }
  body .right-col .flex-box .glass-bar .left-info #bottom-bid {
    font-size: 1vw;
    padding-bottom: 0.8rem;
  }
  body .right-col .flex-box .glass-bar .left-info .eth-price {
    display: flex;
    font-size: 2vw;
    margin-bottom: 1rem;
  }
  body .right-col .flex-box .glass-bar .left-info .eth-price img {
    padding-right: 0.6rem;
  }
  body .right-col .flex-box .glass-bar .right-info .bidding-ends {
    font-size: 0.9vw;
  }
  body .right-col .flex-box .glass-bar .right-info .countdown {
    display: flex;
    margin-bottom: 1rem;
  }
  body .right-col .flex-box .glass-bar .right-info .countdown .minute,
body .right-col .flex-box .glass-bar .right-info .countdown .hour,
body .right-col .flex-box .glass-bar .right-info .countdown .second {
    font-size: 1.8vw;
  }
  body .right-col .flex-box .glass-bar .right-info .countdown .hours-timer {
    padding: 0.8rem;
    text-align: center;
  }
  body .right-col .flex-box .glass-bar .right-info .countdown .hours-timer .time-name {
    font-size: 1vw;
  }
  body .right-col .flex-box .glass-bar .right-info .countdown hr {
    display: none;
  }
  body .right-col .flex-box .glass-bar .right-info #place-bid {
    padding: 0.75rem;
    margin: 0;
  }
  body .right-col .flex-box .glass-bar .right-info #place-bid span {
    font-size: 1.3vw;
  }
  body .right-col .flex-box .glass-bar .right-info #place-bid img {
    padding-right: 0.5rem;
  }
  #wallet-sponsors {
    margin: 8rem auto;
    width: 80%;
  }
  #nft-carousel-one {
    text-align: center;
  }
  #nft-carousel-one .sub-title {
    font-size: 1.2vw;
    color: var(--tertiary);
  }
  #nft-carousel-one .title {
    font-size: 2.5vw;
    margin-bottom: 2rem;
  }
  #nft-carousel-one .nft-multicolour-showcase {
    margin: auto;
    display: flex;
    align-items: flex-end;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft {
    position: relative;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay .nft-name {
    font-size: 1.6vw;
    margin-block: 1rem;
  }
  #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay button {
    background: white;
    color: black;
  }
  #explain-cards {
    text-align: center;
  }
  #explain-cards .section-heading {
    font-size: 2.5vw;
  }
  #explain-cards .section-heading span {
    color: var(--secondary);
  }
  #explain-cards .section-sub-heading {
    font-size: 1.3vw;
    margin-bottom: 1.5rem;
  }
  #explain-cards .section-sub-heading span {
    color: var(--tertiary);
  }
  #explain-cards .explain-section {
    display: flex;
    flex-direction: column;
    place-content: space-between;
  }
  #explain-cards .explain-section .steps {
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    background-color: #1d212e;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }
  #explain-cards .explain-section .steps #number {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--tertiary);
  }
  #explain-cards .explain-section .steps hr {
    margin-inline: 1rem;
    height: 2.5rem;
    margin-right: 2rem;
  }
  #explain-cards .explain-section .steps #step-name {
    font-size: 1.8vw;
  }
  #explain-cards .explain-section .steps .number {
    text-align: left;
    font-size: 2.5vw;
    color: var(--tertiary);
    padding: 1.2rem;
  }
  #explain-cards .explain-section #step-1,
#explain-cards .explain-section #step-2,
#explain-cards .explain-section #step-3,
#explain-cards .explain-section #step-4 {
    margin-inline: 1rem;
  }
  .trending {
    font-weight: bold;
  }
  .trending span {
    color: var(--tertiary);
  }
  #nft-carousel-two {
    display: flex;
    place-content: space-between;
  }
  #nft-carousel-two .nft-card {
    background: rgba(255, 255, 255, 0.15);
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.7px);
            backdrop-filter: blur(12.7px);
    margin: 2rem 0.5rem;
    border: 0.8px white solid;
    border-radius: 0.8rem;
  }
  #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center #name {
    font-size: 1.4vw;
    font-weight: bold;
    padding-block: 1rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section {
    display: flex;
    align-items: center;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .owner {
    display: flex;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .owner img {
    width: 20%;
    padding-right: 0.5rem;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #ownded-by {
    font-size: 0.8vw;
    color: darkgrey;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #name-owner {
    display: block;
    font-size: 0.9vw;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price {
    text-align: right;
    font-size: 1.4vw;
  }
  #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price #current {
    font-size: 0.8vw;
    color: darkgrey;
  }
  #nft-carousel-two .nft-card .bottom-section {
    display: flex;
    place-content: space-between;
    margin-block: 1.5rem 1rem;
  }
  #nft-carousel-two .nft-card .bottom-section .history {
    display: flex;
    place-content: space-around;
    align-items: center;
    width: 40%;
  }
  #nft-carousel-two .nft-card .bottom-section .history #view-history {
    font-size: 0.7vw;
  }
  #nft-carousel-two .nft-card .bottom-section img {
    width: 20%;
  }
  #tree-plant {
    display: flex;
  }
  #tree-plant .left-section {
    width: 80%;
  }
  #tree-plant .left-section #question {
    font-size: 3vw;
    font-weight: bold;
  }
  #tree-plant .left-section #question span {
    color: var(--secondary);
  }
  #tree-plant .left-section #subtext {
    font-size: 1vw;
    padding-bottom: 3rem;
    padding-right: 8rem;
  }
  #tree-plant .left-section #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6daf89);
    margin: 0;
  }
  #tree-plant .right-section {
    -moz-columns: 3;
         columns: 3;
    width: 60%;
  }
  #tree-plant .right-section img {
    padding: 1rem;
  }
  .email-signup {
    text-align: center;
  }
  .email-signup #title {
    margin-bottom: 2rem;
    font-size: 2.5vw;
  }
  .email-signup #sub-head {
    font-size: 1vw;
  }
  .email-signup .flex-button-email {
    display: flex;
    margin: auto;
    margin-block: 2rem;
    width: 40%;
  }
  .email-signup .flex-button-email #email {
    background-color: none;
    padding: 0.5rem;
    width: 60%;
    margin-inline: 1rem;
  }
  .email-signup .flex-button-email input[type=email] {
    border: 1px solid var(--tertiary);
    border-radius: 0.4rem;
    background-color: var(--primary);
  }
  .email-signup .flex-button-email button {
    margin: 0;
  }
  footer {
    margin-top: 12rem;
  }
  footer .footer-name {
    font-size: 1.5vw;
    padding-bottom: 2rem;
  }
  footer div {
    display: flex;
  }
  footer div .left-footer {
    width: 50%;
    display: block;
  }
  footer div .left-footer .footer-links img {
    margin: 1rem;
  }
  footer div .left-footer .footer-links .paragraph {
    margin-right: 7rem;
    font-size: 1.5vw;
  }
  footer div .right-footer {
    width: 50%;
  }
  footer div .right-footer .list-one {
    display: block;
    margin: 0 6rem;
  }
  footer div .right-footer .list-one .list-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  footer div .right-footer .list-one ul {
    margin: 0;
    padding: 0;
  }
  footer div .right-footer .list-one ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  footer div #copyright {
    text-align: center;
    margin-block: 3rem;
  }
}
/*     Desktop View      */
@media only screen and (min-width: 901px) {
  body {
    margin: 4rem;
    background-color: var(--primary);
    font-family: poppins;
    color: white;
  }
  body section {
    margin: 14rem 8rem;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--tertiary), var(--button-gradient));
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
  }
  body .secondary-button {
    color: var(--tertiary);
    background: none;
    border: 1px solid var(--tertiary);
  }
  body header {
    display: flex;
    place-content: space-between;
  }
  body header #hamburger {
    display: none;
  }
  body header #logo {
    width: 10%;
  }
  body header .desktop-nav {
    display: flex;
    place-content: space-around;
  }
  body header .desktop-nav ul {
    width: 100%;
  }
  body header .desktop-nav ul a {
    text-decoration: none;
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    padding-right: 1rem;
  }
  body header .desktop-nav .trio-icons {
    display: flex;
    place-content: space-around;
    width: 33%;
  }
  body header .desktop-nav .trio-icons img {
    max-width: 25%;
  }
  body .hero {
    display: flex;
    margin: 3.5rem 0rem;
  }
  body .hero .left-col {
    width: 50%;
  }
  body .hero .left-col #title {
    font-weight: bold;
    font-size: 3.8vw;
    padding-right: 9rem;
  }
  body .hero .left-col #title span {
    color: var(--secondary);
  }
  body .hero .left-col #subhead {
    padding-right: 14rem;
    font-size: 1.1vw;
    margin-block: 1rem;
  }
  body .hero .left-col .hero-buttons {
    display: flex;
    margin-block: 3rem;
  }
  body .hero .left-col .hero-buttons .explore-image-text {
    margin-right: 2rem;
  }
  body .hero .left-col .hero-buttons #rocket {
    width: 18%;
    padding-right: 0.4rem;
  }
  body .hero .left-col .hero-buttons #learn-arrow-img {
    width: 15%;
    padding-left: 0.3rem;
  }
  body .hero .right-col #nft-desktop {
    min-width: 30%;
    max-width: 35%;
    position: absolute;
    left: 60%;
  }
  body .hero .right-col #nft-mobile {
    display: none;
  }
  body .hero .right-col .glass-bar {
    position: absolute;
    top: 63%;
    width: 26%;
    background: rgba(255, 255, 255, 0.15);
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.7px);
            backdrop-filter: blur(12.7px);
    display: flex;
    place-content: space-between;
    padding: 1.2rem;
  }
  body .hero .right-col .glass-bar .left-info .name {
    font-size: 1.2vw;
    font-weight: bold;
  }
  body .hero .right-col .glass-bar .left-info .sub-name {
    margin-block: 0.3rem 2.5rem;
    font-size: 0.8vw;
  }
  body .hero .right-col .glass-bar .left-info #bottom-bid {
    font-size: 0.8vw;
    padding-bottom: 0.8rem;
  }
  body .hero .right-col .glass-bar .left-info .eth-price {
    display: flex;
    font-size: 1vw;
  }
  body .hero .right-col .glass-bar .left-info .eth-price img {
    padding-right: 0.6rem;
  }
  body .hero .right-col .glass-bar .right-info .bidding-ends {
    font-size: 0.9vw;
  }
  body .hero .right-col .glass-bar .right-info .countdown {
    display: flex;
    margin-bottom: 1rem;
  }
  body .hero .right-col .glass-bar .right-info .countdown .minute,
body .hero .right-col .glass-bar .right-info .countdown .hour,
body .hero .right-col .glass-bar .right-info .countdown .second {
    font-size: 1.1vw;
  }
  body .hero .right-col .glass-bar .right-info .countdown .hours-timer {
    padding: 0.8rem;
    text-align: center;
  }
  body .hero .right-col .glass-bar .right-info .countdown .hours-timer .time-name {
    font-size: 0.7vw;
  }
  body .hero .right-col .glass-bar .right-info .countdown hr {
    display: none;
  }
  body .hero .right-col .glass-bar .right-info #place-bid {
    padding: 0.9rem;
    margin: auto;
  }
  body .hero .right-col .glass-bar .right-info #place-bid span {
    font-size: 0.8vw;
  }
  body .hero .right-col .glass-bar .right-info #place-bid img {
    padding-right: 0.5rem;
  }
  body #wallet-sponsors {
    width: 60%;
    margin: auto;
    margin-block: 6rem;
  }
  body #nft-carousel-one {
    text-align: center;
  }
  body #nft-carousel-one .sub-title {
    font-size: 1vw;
    color: var(--tertiary);
  }
  body #nft-carousel-one .title {
    font-size: 2vw;
    margin-bottom: 2rem;
  }
  body #nft-carousel-one .nft-multicolour-showcase {
    margin: auto;
    display: flex;
    align-items: flex-end;
  }
  body #nft-carousel-one .nft-multicolour-showcase .nft {
    position: relative;
  }
  body #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  body #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay .nft-name {
    font-size: 1.6vw;
    margin-block: 1rem;
  }
  body #nft-carousel-one .nft-multicolour-showcase .nft .nft-overlay button {
    background: white;
    color: black;
  }
  body #explain-cards {
    text-align: center;
  }
  body #explain-cards .section-heading {
    font-size: 2vw;
  }
  body #explain-cards .section-heading span {
    color: var(--secondary);
  }
  body #explain-cards .section-sub-heading {
    margin-bottom: 2rem;
  }
  body #explain-cards .section-sub-heading span {
    color: var(--tertiary);
  }
  body #explain-cards .explain-section {
    display: flex;
    place-content: space-between;
    height: 350px;
  }
  body #explain-cards .explain-section .steps {
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    background-color: #1d212e;
  }
  body #explain-cards .explain-section .steps .number {
    margin: 1.8rem;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--tertiary);
  }
  body #explain-cards .explain-section .steps hr {
    margin-inline: 3rem;
  }
  body #explain-cards .explain-section .steps #step-name {
    text-align: left;
    transform: rotate(90deg);
    margin-top: 8rem;
    font-size: 1.5vw;
  }
  body #explain-cards .explain-section #step-1,
body #explain-cards .explain-section #step-2,
body #explain-cards .explain-section #step-3,
body #explain-cards .explain-section #step-4 {
    flex-grow: 1;
    margin-inline: 1rem;
  }
  body .trending {
    font-weight: bold;
  }
  body .trending span {
    color: var(--tertiary);
  }
  body #nft-carousel-two {
    display: flex;
    place-content: space-around;
  }
  body #nft-carousel-two .nft-card {
    background: rgba(255, 255, 255, 0.15);
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.7px);
            backdrop-filter: blur(12.7px);
    margin: 2rem 1rem;
    border: 0.8px white solid;
    border-radius: 0.8rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center {
    margin: 1rem 1rem 0.5rem 1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center #name {
    font-size: 1.4vw;
    font-weight: bold;
    padding-block: 1rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section {
    display: flex;
    place-content: space-between;
    align-items: center;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner {
    display: flex;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner img {
    width: 20%;
    padding-right: 0.5rem;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #ownded-by {
    font-size: 0.8vw;
    color: darkgrey;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .owner #name-owner {
    display: block;
    font-size: 0.9vw;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price {
    text-align: right;
  }
  body #nft-carousel-two .nft-card .nft-card-center .mid-section .nft-price #current {
    font-size: 0.8vw;
    color: darkgrey;
  }
  body #nft-carousel-two .nft-card .bottom-section {
    display: flex;
    place-content: space-between;
    margin-block: 1.5rem 1rem;
  }
  body #nft-carousel-two .nft-card .bottom-section .history {
    display: flex;
    place-content: space-around;
    align-items: center;
    width: 40%;
  }
  body #nft-carousel-two .nft-card .bottom-section .history #view-history {
    font-size: 0.7vw;
  }
  body #tree-plant {
    display: flex;
  }
  body #tree-plant .left-section {
    width: 80%;
  }
  body #tree-plant .left-section #question {
    font-size: 3vw;
    font-weight: bold;
    padding-right: 15rem;
  }
  body #tree-plant .left-section #question span {
    color: var(--secondary);
  }
  body #tree-plant .left-section #subtext {
    font-size: 1vw;
    padding-bottom: 3rem;
    padding-right: 8rem;
  }
  body #tree-plant .left-section #learn-more-button {
    background-image: linear-gradient(to right, var(--secondary), #6daf89);
    margin: 0;
  }
  body #tree-plant .right-section {
    -moz-columns: 3;
         columns: 3;
    width: 60%;
  }
  body #tree-plant .right-section img {
    padding: 1rem;
    width: 90%;
  }
  body .email-signup {
    text-align: center;
  }
  body .email-signup #title {
    margin-bottom: 2rem;
    font-size: 2.5vw;
  }
  body .email-signup #sub-head {
    font-size: 1vw;
  }
  body .email-signup .flex-button-email {
    display: flex;
    margin: auto;
    margin-block: 2rem;
    width: 40%;
  }
  body .email-signup .flex-button-email #email {
    background-color: none;
    padding: 0.5rem;
    width: 60%;
    margin-inline: 1rem;
  }
  body .email-signup .flex-button-email input[type=email] {
    border: 1px solid var(--tertiary);
    border-radius: 0.4rem;
    background-color: var(--primary);
  }
  body .email-signup .flex-button-email button {
    margin: 0;
  }
  footer {
    margin-top: 12rem;
  }
  footer .footer-name {
    font-size: 1.5vw;
    padding-bottom: 2rem;
  }
  footer div {
    display: flex;
  }
  footer div .left-footer {
    width: 50%;
    display: block;
  }
  footer div .left-footer .footer-links img {
    margin: 1rem;
  }
  footer div .left-footer .footer-links .paragraph {
    margin-right: 7rem;
    font-size: 1.5vw;
  }
  footer div .right-footer {
    width: 50%;
  }
  footer div .right-footer .list-one {
    display: block;
    margin: 0 6rem;
  }
  footer div .right-footer .list-one .list-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  footer div .right-footer .list-one ul {
    margin: 0;
    padding: 0;
  }
  footer div .right-footer .list-one ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  footer div #copyright {
    text-align: center;
    margin-block: 3rem;
  }
}/*# sourceMappingURL=style.css.map */