@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");

:root {
	--background-dark: white;
	--background-white: #f5f5f5;

	--primary-colour: #eda01a;

	--dark-theme-secondary-card-colour: #45455a;
	--light-theme-secondary-card-colour: #5d5d76;

	--dark-theme-primary-font-colour: #ffffff;
	--dark-theme-secondary-font-colour: #c6c6c6;

	--light-theme-primary-font-colour: #000000;
	--light-theme-secondary-font-colour: #4a4a4a;
}

img,
svg {
	max-width: 100%;
	display: block;
}

html {
	scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: var(--background-dark);
		font-family: poppins;
		color: white;
		margin: 0;
		padding: 0;

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 3vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
			margin: auto;
		}

		header {
			position: sticky;
			top: 0;
			padding: 2rem;
			z-index: 999;

			#mobile-cta {
				font-size: 7vw;
				float: right;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				transform: translateX(110%);
				transition: 0.2s ease;

				height: 100vh;
				.nav-left {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 16vh;

					img {
						width: 10%;
					}

					#nav-name {
						display: none;
					}
				}
				.nav-right {
					text-align: center;
					margin-block: 1rem 3rem;
					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;
							text-decoration: none;
							color: white;
							padding-block: 1.5rem;
						}
					}

					button {
						margin-bottom: 2rem;
					}

					#toggle-dark {
						font-size: 5vw;
					}
				}
				#hamburger-menu {
					display: none;
				}
				.nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;
					height: 10vh;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 5vw;
						}
					}
				}
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}

		.hero {
			.left-hero-social-links {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 601px) and (max-width: 999px) {
	body {
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1.5vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		header {
			position: sticky;
			top: 0;
			padding: 2rem;
			z-index: 999;

			#mobile-cta {
				font-size: 5vw;
				float: right;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				transform: translateX(110%);
				transition: 0.2s ease;

				height: 100vh;
				.nav-left {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 20vh;

					img {
						width: 6%;
					}

					#nav-name {
						display: none;
					}
				}
				.nav-right {
					text-align: center;
					margin-block: 1rem 3rem;
					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;
							text-decoration: none;
							color: white;
							padding-block: 1.3rem;
						}
					}

					button {
						margin-bottom: 2rem;
					}

					#toggle-dark {
						font-size: 3vw;
					}
				}
				#hamburger-menu {
					display: none;
				}
				.nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;
					height: 8vh;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 3vw;
						}
					}
				}
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1440px) {
	body {
		margin: 4rem;
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.8em 1.2em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		header {
			#mobile-cta {
				display: none;
			}
			#desktop-nav {
				display: flex;
				justify-content: space-between;

				#hamburger-menu {
					display: none;
				}

				.nav-left {
					display: flex;
					align-items: center;

					img {
						width: 25%;
						margin-right: 1rem;
					}
				}

				.nav-right {
					display: flex;
					align-items: center;
					ul {
						a {
							color: white;
							text-decoration: none;
							padding-right: 2.2rem;
						}
					}
					#toggle-dark {
						margin-left: 1rem;
						font-size: 2.2vw;
					}
				}
			}
			#mobile-exit,
			.nav-mobile-bottom {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 1441px) {
	body {
		margin: 4rem;
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 0.8vw;
			cursor: pointer;
			padding: 0.8em 1.4em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		header {
			#mobile-cta {
				display: none;
			}
			#desktop-nav {
				display: flex;
				justify-content: space-between;

				#hamburger-menu {
					display: none;
				}

				.nav-left {
					display: flex;
					align-items: center;

					img {
						width: 25%;
						margin-right: 1rem;
					}
				}

				.nav-right {
					display: flex;
					align-items: center;
					ul {
						a {
							color: white;
							text-decoration: none;
							padding-right: 2.6rem;
						}
					}
					#toggle-dark {
						margin-left: 1rem;
						font-size: 2.3vw;
					}
				}
				#mobile-exit,
				.nav-mobile-bottom {
					display: none;
				}
			}
		}
	}
}
